myenv/
__pycache__/
api_tokens/
data/climrr/
*.html
edge.jpg
filtered_image.jpg
ocr_result.jpg
data/benchmark/
result/
hf_home/
data/image_data/
qa_data.csv
remove.py
run_inference_task.sh
set_affinity_gpu_polaris.sh
sophia.sh